@media(min-width:1023px){
.slick-slider{
width: 96% !important;
margin-left: 1.8% !important;
}
.slide_toggler{
    display: none;
}
}

#winner_carousel .item{
    width: 212.5px !important;
    margin-left: 10px !important;
}

.carousel .control-dots,.carousel.carousel-slider .control-arrow{
    display: none !important;
}

.carousel .slide{
    margin: 10px !important;
    min-width: 212.5px;
}

.owl-carousel{
    display: block !important;
}


@media(max-width:1023px){
    .slick-slide img{
        width: 100% !important;
        
    }
    .slick-track{
        margin-top: 10% !important;
    }

    .slick-slider{
        width: 96% !important;
        margin-left: 1.8% !important;
        margin-top: 14% !important;
        }

}

.slick-prev, .slick-next{
    display: none !important;
}


.main_login{
    /* display: contents !important; */
    background-color: #FDCF13 !important;
    font-size: 12px !important;
    height: 40px !important;
    text-transform: uppercase !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    color: black !important;
    border-radius: 0 !important;
    cursor: pointer !important;
}


.main_asion_heading{
    text-transform: uppercase;
    font-weight: bold;
    color: #FDCF13 !important;
    text-decoration: underline  !important;
}



@media only screen and (max-width:600px){
    .teli_icon a{
        width: auto !important;
    }
    .signBtn {
        position: relative;
        right: -2rem;
    }
    
}


body{
    background-color: #333333;
}